<div class="container-fluid">
    <!-- Jumbotron Header -->
    <header class="jumbotron hero-spacer">
       

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
    </header>
    <h3>We have 2 versions of the same library working on this module.</h3>
    <ul>
        <li>
            moment.js v<span>{{momentModernVersion}}</span>
        </li>
        <li>
            moment.js v<span>{{momentLegacyVersion}}</span>
        </li>
    </ul>
   <input date-range-picker class="form-control date-picker" type="text" ng-model="datePicker.date" />
   
</div>